body {
  background-color: #f4f3e4;
  margin: 0;
  font-family: Arial, sans-serif;
  padding-bottom: 100px;
}

header {
  background-color: #2f3952;
  color: #f4f3e4;
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  
  z-index: 10;
}

h1 {
  font-size: 3em;
  font-family: Georgia, serif;
  margin: 0;
}

header ul {
  display: flex;
  gap: 2vw;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 70px;
}

header a {
  color: #f4f3e4;
  text-decoration: none;
  font-size: 1.2em;
}
main{
  margin-top: 120px;
  margin-bottom: 200px;
}
header a:hover {
  text-decoration: underline;
}
.coffee{
  margin-top: 180px;
  width:600px;
  height: auto;
  display: block;      
  margin: 0 auto; 
}
h2, h3 {
  font-size: 1.8em;
  color: #2f3952;
  margin: 100px 80px 20px;
  padding: 20px;
}

.menu-preview ul {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  padding: 0;
}

.menu-preview a {
  color: #2f3952;
  text-decoration: none;
  font-size: 1.5em;
}
.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  background-color: #2f3952;
  color: #f4f3e4;
  font-size: 1.2em;
  padding: 20px 20px;
  width: 100%;
  text-align: left;
  position: static;
  bottom: 0;
  left: 0;
}