body {
  background-color: #f4f3e4;
  margin: 0;
  font-family: Arial, sans-serif;
  padding-bottom: 100px;
}

header {
  background-color: #2f3952;
  color: #f4f3e4;
  position: fixed;
  top: 0;
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  z-index: 10;
}

h1 {
  font-size: 3em;
  font-family: Georgia, serif;
  margin: 0;
}

header ul {
  display: flex;
  gap: 2vw;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 70px;
}

header a {
  color: #f4f3e4;
  text-decoration: none;
  font-size: 1.2em;
}

header a:hover {
  text-decoration: underline;
}


main {
  margin-top: 120px;
  margin-bottom: 200px;
}

.coffee {
  width: 600px;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
h2{
  font-size: 2.4em;
  color: #2f3952;
  text-align: center;
  margin-top: 130px;
}

h3 {
  font-size: 1.8em;
  color: #2f3952;           
  text-align: center;
  margin: 90px auto 10px;
  width: 650px;
  padding-bottom: 6px;
  border-bottom: 3px solid #2f3952;
  display: inline-block;    
}
.introduction {
  text-align: center;
}


h4{
  font-size: 1.4em;
  color: #2f3952;
  text-align: center;
  margin: 20px 80px;
  line-height: 1.6;
  max-width: 600px;   
  margin: 20px auto 20px; 
  padding: 0 20px; 
  word-wrap: break-word;
}
.menu-buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.menu-btn {
  background-color: #2f3952;
  color: #f4f3e4;
  text-decoration: none;
  font-size: 1.4em;
  padding: 20px 50px;
  border-radius: 12px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(47, 57, 82, 0.3);
}

.menu-btn:hover {
  background-color: #f4f3e4;
  color: #2f3952;
  border: 2px solid #2f3952;
  transform: translateY(-4px);
}

footer {
  background-color: #2f3952;
  color: #f4f3e4;
  font-size: 1.2em;
  padding: 20px 20px;
  width: 100%;
  text-align: left;
  position: static;
  bottom: 0;
  left: 0;
}
